<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>PsDumpServlet</servlet-name>
        <servlet-class>gov.bnl.racf.ps.dashboard.servlets.debug.PsDumpServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PsQueryJobsServlet</servlet-name>
        <servlet-class>gov.bnl.racf.ps.dashboard.db.servlets.PsQueryJobsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PsUploadResultsServlet</servlet-name>
        <servlet-class>gov.bnl.racf.ps.dashboard.db.servlets.PsUploadResultsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PsCloudsServlet</servlet-name>
        <servlet-class>gov.bnl.racf.ps.dashboard.db.servlets.PsCloudsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PsDumpServlet</servlet-name>
        <url-pattern>/dump</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>InitServiceTypes</servlet-name>
        <servlet-class>gov.bnl.racf.ps.dashboard.db.servlets.InitServiceTypes</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>InitServiceTypes</servlet-name>
        <url-pattern>/initServiceTypes</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>CreateServiceType</servlet-name>
        <servlet-class>gov.bnl.racf.ps.dashboard.servlets.debug.CreateServiceType</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CreateServiceType</servlet-name>
        <url-pattern>/createServiceType</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>PsServicesServlet</servlet-name>
        <servlet-class>gov.bnl.racf.ps.dashboard.db.servlets.PsServicesServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PsServicesServlet</servlet-name>
        <url-pattern>/services/*</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>PsSitesServlet</servlet-name>
        <servlet-class>gov.bnl.racf.ps.dashboard.db.servlets.PsSitesServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PsSitesServlet</servlet-name>
        <url-pattern>/sites/*</url-pattern>
    </servlet-mapping>
    
    
    
    <servlet>
        <servlet-name>PsMatricesServlet</servlet-name>
        <servlet-class>gov.bnl.racf.ps.dashboard.db.servlets.PsMatricesServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PsMatricesServlet</servlet-name>
        <url-pattern>/matrices/*</url-pattern>
    </servlet-mapping>
    
    
    
    <servlet-mapping>
        <servlet-name>PsCloudsServlet</servlet-name>
        <url-pattern>/clouds/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PsQueryJobsServlet</servlet-name>
        <url-pattern>/jobs/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PsUploadResultsServlet</servlet-name>
        <url-pattern>/results/*</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    
    
    
    <servlet>
        <servlet-name>PsHostsServlet</servlet-name>
        <servlet-class>gov.bnl.racf.ps.dashboard.db.servlets.PsHostsServlet</servlet-class>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>PsHostsServlet</servlet-name>
        <url-pattern>/hosts/*</url-pattern>
    </servlet-mapping>
    
    
    
    
</web-app>
